---
    import Vianovus from "./vianovus.astro"
---
<div class='cont' >
    <Vianovus />
</div>

<style>
 .cont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
 }
</style>