---
---
<div class="container glass">
    
<img 
class="blurred-img"
src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlQVY97CNTLj68vvjqpmA4NuoJ3CuGJpN0yw&s" 
alt="A bird."
>
    <span>
        sdfasfasdfasdfffffffff
    </span>
</div>
<style>
    .container{
        max-width: 30vw;
    }
    .blurred-img {
    width: 300px; /* Ajusta según necesites */
    height: auto;

    /* Aplica un degradado para difuminar de abajo hacia arriba */
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  }
</style>