---
    import { Icon } from 'astro-icon/components';
    const props = Astro.props;
---
<div>

    <!-- social -->
     <h2>Social</h2>
    <Icon name="logos:linkedin-icon" />
    <Icon name="logos:spotify-icon" />

    <!-- Location -->
     <h2>Location</h2>
    <Icon name="game-icons:mexico" />
    
    <!-- skills -->
    <h2>skills</h2>
    
    <!-- Hobies -->
    <h2>Hobbies</h2>
    <Icon name="emojione-monotone:guitar" />
    <Icon name="fluent:book-28-filled" />
    <Icon name="famicons:game-controller" />
</div>



<style>

</style>